<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CELEBRITY</title>
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">	
</head>
<body>
	<div>
		<div id="logo">
			<a id="icon" href="main.do"><img src="/img/jstg-01.png" width=70px></a>	
		</div>
		<div id="list">
			<a id="icon" href="index.do"><img src="/img/list-01.png" width=35px></a>
		</div>	
	</div>
	<div id="link">			
			<div id="btn">
			<a href="https://www.youtube.com/JYPEntertainment" target='_blank'><i class="fab fa-youtube fa-2x"></i></a>
			</div>
			<div id="btn">
			<a href="https://www.instagram.com/jypentertainment/" target='_blank'><i class="fab fa-instagram fa-2x"></i></a>
			</div>						
	</div>
	<div id="copy">
		<p>Copyright © JSTG Entertainment</p>
	</div> 
	
	<span id="title" class="board_title">CELEBRITY</span>
	
	<p id="cel_image"><img src="/img/sample01.png" width= 400px></p>
	
	<div class="cel_button">
		<a id="cel_btn" href="/openCelebrityList.do" >ARTIST</a>
		<a id="cel_btn" href="/openActorList.do" >ACTOR</a>
	</div>
	
</body>
</html>