<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JSTG</title>
<link rel="stylesheet" th:href="@{/css/aboutStyle.css}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body class="contact">
	<div>
		<div id="logo">
			<a id="icon" href="main.do"><img src="/img/jstg-01.png" width=70px></a>	
		</div>
		<div id="list">
			<a id="icon" href="index.do"><img src="/img/list-01.png" width=35px></a>
		</div>	
	</div>
	<div id="link">			
			<div id="btn">
			<a href="https://www.youtube.com/JYPEntertainment" target='_blank'><i class="fab fa-youtube fa-2x"></i></a>
			</div>
			<div id="btn">
			<a href="https://www.instagram.com/jypentertainment/" target='_blank'><i class="fab fa-instagram fa-2x"></i></a>
			</div>						
	</div>
	<div id="copy">
		<p>Copyright © JSTG Entertainment</p>
	</div>
	<div class="menu cf">
		<h1>JSTG</h1>
		<ul class="contact_ul">
			<li class="contact_li"><a href="about.do">ABOUT
					JSTG</a></li>
			<li class="contact_li"><a href="history.do">HISTORY</a></li>
			<li class="contact_li" id="three"><a
				href="contact.do"><strong>CONTACT</strong></a></li>
		</ul>
	</div>
	<div class="contact_content">
		<div class="contact_content1">
			<strong>JSTG CENTER</strong>
			<p id="address">
				서울특별시 종로구 인사동길 12 15층(인사동 HIMEDIA Center) (우)03163 <br> <i
					class="fas fa-map"></i> 12, Insadong gil, Jongro-gu, Seoul,
				Republic of Korea
			</p>
			<p id="number">(Tel) 02-723-0008</p>
		</div>
		<div class="contact_img">
			<img src="/img/map.png">
		</div>
		<div class="contact_content2">
			
		</div>
	</div>
</body>