<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>FAN</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">	
</head>
<body>
	<div>
		<div id="logo">
			<a id="icon" href="main.do"><img src="/img/jstg-01.png" width=70px></a>	
		</div>
		<div id="list">
			<a id="icon" href="index.do"><img src="/img/list-01.png" width=35px></a>
		</div>	
	</div>
	<div id="link">			
			<div id="btn">
			<a href="#"><i class="fab fa-youtube fa-2x"></i></a>
			</div>
			<div id="btn">
			<a href="#"><i class="fab fa-instagram fa-2x"></i></a>
			</div>						
	</div>
	<div id="copy">
		<p>Copyright © JSTG Entertainment</p>
	</div>
	<div class="board">
		<h2>FAN</h2>
		<form action="" method="POST" id="frm" name="frm">
		<input type="hidden" name="fanIdx" th:value="${fan.fanIdx}" />
		<input type="hidden" name="celebrityIdx" th:value="${fan.celebrityIdx}" />
			<table class="board_detail">
				<colgroup>
					<col width="15%" />
					<col width="35%" />
					<col width="15%" />
					<col width="35%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">글번호</th>
						<td th:text="${fan.fanIdx}"></td>
						<th scope="row">조회수</th>
						<td th:text="${fan.fhitCnt}"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${fan.fcreatedId}"></td>
						<th scope="row">작성일</th>
						<td th:text="${fan.fcreatedDt}"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3">
							<input type="text" id="ftitle" name="ftitle" th:value="${fan.ftitle}" />
						</td>
					</tr>
					<tr>
						<td><img src="/download.do?fanIdx=" th:attrappend="src=${fan.fanIdx}" width=300px></td>
					</tr>
					
					<tr>
						<td colspan="4" class="view_text">
							<textarea title="내용" id="fcontents" name="fcontents" th:text="${fan.fcontents}"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<a href="openFanList.do?celebrityIdx=" th:attrappend="href=${fan.celebrityIdx}" class="btn">LIST</a>
	
	</div>
</body>
</html>
