<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JSTG</title>
<link rel="stylesheet" th:href="@{/css/aboutStyle.css}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body class="history">
	<div>
		<div id="logo">
			<a id="icon" href="main.do"><img src="/img/jstg-01.png" width=70px></a>	
		</div>
		<div id="list">
			<a id="icon" href="index.do"><img src="/img/list-01.png" width=35px></a>
		</div>	
	</div>
	<div id="link">			
			<div id="btn">
			<a href="https://www.youtube.com/JYPEntertainment" target='_blank'><i class="fab fa-youtube fa-2x"></i></a>
			</div>
			<div id="btn">
			<a href="https://www.instagram.com/jypentertainment/" target='_blank'><i class="fab fa-instagram fa-2x"></i></a>
			</div>						
	</div>
	<div id="copy">
		<p>Copyright © JSTG Entertainment</p>
	</div>
	<div class="menu cf">
		<h1>JSTG</h1>
		<ul class="history_ul">
			<li class="history_li"><a href="about.do">ABOUT
					JSTG</a></li>
			<li class="history_li" id="two"><a href="history.do"><strong>HISTORY</strong></a></li>
			<li class="history_li"><a href="contact.do">CONTACT</a></li>
		</ul>
	</div>
	<div class="history_content">
		<div class="content_top1">
			<strong>2022</strong>
			<ul>
				<li><span>03</span>
					<p>JTSG USA 설립</p></li>
				<li><span>02</span>
					<p>NMIXX Debut</p></li>
			</ul>
		</div>
		<div class="content_top2">
			<strong>2021</strong>
			<ul>
				<li><span>12</span>
					<p>Xdinary Heroes Debut</p></li>
				<li><span>08</span>
					<p>JYP Three Sixty 설립</p></li>
			</ul>
		</div>
		<div class="content_top3">
			<strong>2020</strong>
			<ul>
				<li><span>12</span>
					<p>NiziU Debut</p></li>
			</ul>
		</div>
		<div class="content_top4">
			<strong>2019</strong>
			<ul>
				<li><span>08</span>
				<p>DAY6 월드 투어 &lt;DAY6 WORLD TOUR 'GRAVITY'&gt; 2019.08-2020.01</p></li>
				<li><span>07</span>
				<p>OT7 일본 투어 &lt;GOT7 JAPAN TOUR 2019 'Our Loop'&gt;2019.07-2019.08</p></li>
				<li><span>06</span>
				<p>GOT7 월드 투어 &lt;GOT7 2019 WORLD TOUR 'KEEP SPINNING'&gt; 2019.06-2019.10</p></li>
				<li><span>05</span>
				<p>TWICE 월드 투어 &lt;TWICE WORLD TOUR 2019 'TWICELIGHTS'&gt; 2019.05-2020.02</p></li>
				<li><span>03</span>
				<p>TWICE 일본 투어 &lt;TWICE DOME TOUR 2019 '#Dreamday'&gt; 2019.03-2019.04</p></li>
				<li><span>03</span>
				<p>GOT7 unit 'Jus2' Debut</p></li>
				<li><span>02</span>
				<p>ITZY Debut</p></li>
			</ul>
		</div>
			<div class="content_top5">
			<strong>2018</strong>
			<ul>
				<li><span>12</span>
				<p>GOT7 일본 투어 &lt;GOT7 JAPAN ARENA SPECIAL 2018-2019 'Road 2 u'&gt; 2018.12-2019.02</p></li>
				<li><span>09</span>
				<p>TWICE 일본 투어 <TWICE 1st ARENA TOUR 2018 'BDZ'> 2018.09-2018.10</p></li>
				<li><span>09</span>
				<p>BOY STORY &lt;Enough' 데뷔 쇼케이스 투어&gt; (2018. 09 ~ 10)</p></li>
				<li><span>09</span>
				<p>BOY STORY Debut</p></li>
				<li><span>06</span>
				<p>사옥 이전 (강동구 강동대로)</p></li>
				<li><span>06</span>
				<p>DAY6 월드 투어 <DAY6 1ST WORLD TOUR 'YOUTH'> 2018.06-2019.01</p></li>
				<li><span>05</span>
				<p>TWICE 두번째 투어 <TWICE 2ND TOUR 'TWICELAND ZONE 2 : Fantasy Park'> 2018.05-2018.08</p></li>
				<li><span>05</span>
				<p>GOT7 일본 투어 &lt;GOT7 JAPAN FAN CONNECTING HALL TOUR 2018 'THE New Era'&gt; 2018.05-2018.06</p></li>
				<li><span>05</span>
				<p>GOT7 월드 투어 &lt;GOT7 2018 WORLD TOUR 'EYES ON YOU'&gt; 2018.05-2018.08</p></li>
				<li><span>03</span>
				<p>Stray Kids Debut</p></li>
				<li><span>01</span>
				<p>TWICE 일본 투어 &lt;TWICE SHOWCASE LIVE TOUR 2018 'Candy Pop'&gt; 2018.01-2018.02</p></li>
			</ul>
		</div>
	
	<div class="content_top6">
			<strong>2017</strong>
			<ul>
				<li><span>11</span>
				<p>GOT7 일본 투어 &lt;GOT7 JAPAN TOUR 2017 'TURN UP'&gt; 2017.11-2017.12</p></li>
				<li><span>06</span>
				<p>GOT7 일본 투어 &lt;GOT7 JAPAN ARENA SPECIAL 2017 'MY SWAGGER'&gt;</p></li>
				<li><span>06</span>
				<p>GOT7 태국 투어 &lt;GOT7 THAILAND TOUR 2017 'NESTIVAL'&gt;</p></li>
				<li><span>06</span>
				<p>2PM 한국 콘서트 &lt;2PM CONCERT '6Nights'&gt;</p></li>
				<li><span>02</span>
				<p>TWICE 첫번째 투어 &lt;TWICE 1ST TOUR 'TWICELAND -The Opening-'&gt; 2017.02-2017-04</p></li>
			</ul>
		</div>
			<div class="content_top7">
			<strong>2016</strong>
			<ul>
				<li><span>10</span>
				<p>2PM 일본 도쿄돔 콘서트 &lt;2PM CONCERT 'THE 2PM in TOKYO DOME'&gt;</p></li>
				<li><span>04</span>
				<p>GOT7 월드 투어 &lt;GOT7 2016 WORLD TOUR 'FLY'&gt; 2016.04-2016.08</p></li>
				<li><span>04</span>
				<p>2PM 일본 아레나 투어 &lt;2PM ARENA TOUR 2016 'GALAXY OF 2PM'&gt; 2016.04-2016.06</p></li>
				<li><span>03</span>
				<p>2PM 태국 콘서트 <2PM CONCERT 'HOUSE PARTY' IN BANGKOK></p></li>
				<li><span>01</span>
				<p>GOT7 일본 투어 &lt;GOT7 JAPAN TOUR 2016 'モリ↑ガッテヨ'&gt; 2016.01-2016.02</p></li>
			</ul>
		</div>
	
	
	</div>
</body>