<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>INDEX</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">		
</head>
<body>
	<div>
		<div id="logo">
			<a id="icon" href="main.do"><img src="/img/jstg-01.png" width=70px></a>	
		</div>
		<div id="list">
			<a id="icon" href="index.do"><img src="/img/list-01.png" width=35px></a>
		</div>	
	</div>
	<div id="link">			
			<div id="btn">
			<a href="https://www.youtube.com/JYPEntertainment" target='_blank'><i class="fab fa-youtube fa-2x"></i></a>
			</div>
			<div id="btn">
			<a href="https://www.instagram.com/jypentertainment/" target='_blank'><i class="fab fa-instagram fa-2x"></i></a>
			</div>						
	</div>
	<div id="copy">
		<p>Copyright © JSTG Entertainment</p>
	</div>
	   
	<div>
		<span id="title" class="board_title">INDEX</span>
	</div>
	<div id="index_box">		
		<div id="index_list">
			<ul>
				<li id="head_index"><b>JSTG</b></li>				
				<li>&nbsp;</li>		
				<li><a href="about.do"><b><font color="gray">ABOUT JSTG</font></b></a></li>
				<li>&nbsp;</li>		
				<li><a href="history.do"><b><font color="gray">HISTORY</font></b></a></li>
				<li>&nbsp;</li>		
				<li><a href="contact.do"><b><font color="gray">CONTACT</font></b></a></li>	
			</ul>
		</div>
		<div id="line">
			<img id="line" src="/img/line03.png" width=200px>
		</div>
		<div id="index_list">
			<ul>						
				<li id="head_index"><b>CELEBRITY</b></li>
				<li>&nbsp;</li>		
				<li><a href="openCelebrityList.do"><b><font color="gray">ARTIST</font></b></a></li>
				<li>&nbsp;</li>		
				<li><a href="openActorList.do"><b><font color="gray">ACTOR</font></b></a></li>			
			</ul>
		</div>
		<div id="line">
			<img id="line" src="/img/line03.png" width=200px>
		</div>
		<div id="index_list">
			<ul>
				<li id="head_index"><b>SUBSTAINABILITY</b></li>				
				<li>&nbsp;</li>		
				<li><a href="openNoticeList.do"><b><font color="gray">NOTICE</font></b></a></li>
				<li>&nbsp;</li>		
				<li><a href="openQnaList.do"><b><font color="gray">Q & A</font></b></a></li>			
			</ul>
		</div>		
	</div>		
	
	

</body>
</html>