<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>INDEX</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />	
</head>
<body>
	<div>
		<div id="logo">
			<a id="icon" href="main.do"><img src="/img/jstg-01.png" width=70px></a>	
		</div>
		<div id="list">
			<a id="icon" href="index.do"><img src="/img/list-01.png" width=35px></a>
		</div>	
	</div>   
	<div>
		<span id="title" class="board_title">INDEX</span>
	</div>
	<div id="index_box">		
		<div id="index_list">
			<ul>
				<li id="head_index"><b>JSTG</b></li>				
				<li>&nbsp;</li>		
				<li><a href="#"><b><font color="gray">ABOUT JSTG</font></b></a></li>
				<li>&nbsp;</li>		
				<li><a href="#"><b><font color="gray">HISTORY</font></b></a></li>
				<li>&nbsp;</li>		
				<li><a href="#"><b><font color="gray">CONTACT</font></b></a></li>	
			</ul>
		</div>
		<div id="line">
			<img id="line" src="/img/line03.png" width=200px>
		</div>
		<div id="index_list">
			<ul>						
				<li id="head_index"><a href="openCelebrityIndex.do"><b>CELEBRITY</b></a></li>
				<li>&nbsp;</li>		
				<li><a href="openCelebrityList.do"><b><font color="gray">ARTIST</font></b></a></li>
				<li>&nbsp;</li>		
				<li><a href="openActorList.do"><b><font color="gray">ACTOR</font></b></a></li>			
			</ul>
		</div>
		<div id="line">
			<img id="line" src="/img/line03.png" width=200px>
		</div>
		<div id="index_list">
			<ul>
				<li id="head_index"><b>SUBSTAINABILITY</b></li>				
				<li>&nbsp;</li>		
				<li><a href="#"><b><font color="gray">NOTICE</font></b></a></li>
				<li>&nbsp;</li>		
				<li><a href="#"><b><font color="gray">Q & A</font></b></a></li>			
			</ul>
		</div>		
	</div>		
	
	

</body>
</html>