<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>고객센터</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<div>
		<div id="logo">
			<a id="icon" href="main.do"><img src="/img/jstg-01.png" width=70px></a>	
		</div>
		<div id="list">
			<a id="icon" href="index.do"><img src="/img/list-01.png" width=35px></a>
		</div>	
	</div>  
	<div>
		<h2>게시판 등록</h2>
		<form action="/insertQna.do" method="POST" id="frm" name="frm">
			<table class="board_detail">
				<tr>
					<td>제목</td>
					<td><input type="text" id="qtitle" name="qtitle" /></td>
				</tr>
				<tr>
					<td colspan="2"><textarea id="qcontents" name="qcontents"></textarea></td>
				</tr>
			</table>
			<input type="submit" id="submit" value="저장" class="btn" />
		</form>		
	</div>
</body>
</html>
